/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset CSS */
@font-face{
    font-family: Chelsea;
    src: url(../webfonts/ChelseaMarket-Regular.ttf);
}

@font-face{
    font-family: Titan;
    src: url(../webfonts/TitanOne-Regular.ttf);
}

h1{
    font-family: Chelsea !important;
}

h2{
    font-family: Titan !important;
}

#logoNav{
    height: 50px;
    margin-left: 10px;
}

.navbar{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    float: left;
    width: 100%;
    box-shadow: 10px 5px 5px black
}
.linkNavBar a{
    font-family: Chelsea;
    transition: 0.3s;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.linkNavBar a:hover{
    background-color: var(--light);
    transition: 0.3s;
    color: var(--primary) !important;
}

@media only screen and (max-width: 372px){
    #logoNav{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }

    .linkNavBar{
        width: 100% !important;
        justify-content: center;
    }

    #main{
        height: 100vh
    }

    #main .mainBackground{
        height: calc(100vh - 136px) !important;
    }
}

#main{
    background: url("../images/animal1.png");
    background-size: 100px;
    background-repeat: no-repeat;
    height: 100vh;
    background-size:cover;
    background-position: center center;
    display: vertical-align;
}

#main .mainBackground{
    height: calc(100vh - 76px);
    display: table-cell;
    width: 100vw;
    vertical-align: middle;
}

#main h1{
    font-size: 60px;
}

#icon-scroll,
#icon-scroll:before {
    position: absolute;
    left: 50%
}
#icon-scroll {
    width: 30px !important;
    height: 50px !important;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid var(--primary);
    pointer-events: none;
    box-shadow: 10px 5px 5px black;
    border-radius: 25px;
    background: var(--light);
}

#icon-scroll:before {
    content: '';
    width: 8px !important;
    height: 8px !important;
    background: var(--primary);
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}

/* IGNORE EVERYTHING BELOW */

